
.block {
    position: relative;
    width: 600px;
    border: 1px solid gray;
}

.log {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.send {
    display: flex;
    flex-direction: column;
    width: 90%;
    border: 1px solid gray;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 10px;
}

.form {
    display: flex;
    flex-direction: row;
}

.text {
    width: 70%;
}

.geolocation {
    margin-top: 10px;
}

.important {
    position: absolute;
    z-index: 1;
    left: 100px;
    display: flex;
    flex-direction: column;
    width: 400px;
    border: 1px solid gray;
    background-color: white;
}

.text-imp {
    margin: 10px;
}

.btn-block {
    margin: 5px 10px 5px 290px;
}

.print-imp {
    margin: 0 10px;
}

.cancel {
    background-color: white;
    border-radius: 5px;
    border: 1px solid gray;
    height: 40px;
}

.agreed {
    background-color: white;
    border-radius: 5px;
    border: 1px solid gray;
    height: 40px;
    
}

.message {
    position: relative;
    display: flex;
    flex-direction: row;
}

.print {
    display: flex;
    flex-direction: column;
    margin: 10px;
    width: 70%;
}

.btn {
    width: 30px;
    height: 30px;
    border: 1px solid gray;
    border-radius: 15px;    
    background-color: white;
    margin: 10px 10px 10px 0px;
}
